<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
        <div class="card w-50 p-3 mb-2 bg-dark text-white">
            <div class="card-header">
                <h2>Planificador de Procesos</h2>
            </div>
            <div class="card-body mt-3">
                <form [formGroup]="form" (ngSubmit)="sendFile()"> <!-- form es la variable declarada en el typescript -->
                    <p>
                        Tipo Planificación: <br>
                        <select id="select" class="form-select" formControlName="planificacion" (change)="getTarget('planificacion')">
                            <option value="fcfs">First Come First Serve</option>
                            <option value="pe">Prioridad Exerna</option>
                            <option value="rr">Round Robin</option>
                            <option value="spn">Shortest Process Next</option>
                            <option value="srt">Shortest Remaining Time</option>
                        </select>
                    </p>
                    <div class="row">
                        <div class="col-3">
                            <p>
                                TIP: <br>
                                <input type="text" class="form-control h-50" formControlName="tip" (change)="getTarget('tip')">
                            </p>
                        </div>
                        <div class="col-3">
                            <p>
                                TCP: <br>
                                <input type="text" class="form-control h-50" formControlName="tcp" (change)="getTarget('tcp')">
                            </p>
                        </div>
                        <div class="col-3">
                            <p>
                                TFP: <br>
                                <input type="text" class="form-control h-50" formControlName="tfp" (change)="getTarget('tfp')">
                            </p>
                        </div>
                        <div class="col-3">
                            <p>
                                Quantum: <br>
                                <input id="quantum" type="text" class="form-control h-50" formControlName="quantum" (change)="getTarget('quantum')">
                            </p>
                        </div>
                    </div>
                    <p>
                        Archivo: <br>
                        <input type="file" class="form-control" formControlName="archivo"
                        (change)="getFile($event)">
                    </p>
                    <p>
                        <br>
                        <button type="submit" class="btn btn-secondary" [disabled]="form.invalid">Enviar</button>
                    </p>
                </form>
            </div>
            <p style="margin-left: 80px;"><i class="text-secondary">Por default: 'TIP', 'TCP', 'TFP' = 0 y 'Quantum' = 5</i></p>
        </div>
    </div>
</div>